/*------ google font link----------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  /* for tranform all text */
  transition: all 0.2s linear;
}

html {
  /* overflow-x: hidden; */
  font-size: 62.5%;
  caret-color: #0984e3;
  scroll-behavior: smooth;
}


body {
  background: #eee;
}
/* for set vertical scrollbar */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0984e3 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e8173d;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #0984e3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 9%;
  }
  
/* .header {
  display: flex;
  justify-content: space-between;
  background-color: #e8173d;
  padding: 10px 0;
  align-items: center;
  position: sticky;
  z-index: 1000;
  top:0;
} */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #e8173d;
  padding: 9px 10px;
  font-size: 1.3rem;
  align-items: center;
}
.logo i {
  color: gold;
  font-size: 2.5rem;
}
.logo a {
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
}
.nav_right_side_element {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}
.header .search-form {
  width: 26rem;
  /* border: 1px solid black; */
  display: flex;
  background-color: white;
  padding: 2px 5px;
  border-radius: 0.5rem;
  align-items: center;
}
.header .search-form input {
  width: 100%;
  padding: 8px 5px;
  /* border: 2px solid; */
  font-size: 1.5rem;
}
.header .search-form label {
  padding: 7px;
}

.header .nav_element {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.header .nav_list {
  display: flex;
}
.header .nav_list a {
  color: white;
  padding: 9px 10px;
}
.header .nav_list a:hover {
  color: gold;
}
.mobile_responsive_element {
  display: none;
}
/* slider section */
.home{
  background-color: #fff;
}
.home-slider{
  width:100%;
  background-color: white;
  /* border: 10px solid black; */
}
.home .slide{
  /* border:7px solid red; */
  min-height: 50rem;
  gap:2rem;
  padding: 2rem 0;;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.home .slide .image{
          flex: 1 1 42rem;
  text-align: center;
}
.home .slide .image img {
  height: 30rem;
}
.home .slide .content {
          flex: 1 1 42rem;
}
.home .slide .content span {
  font-size: 3rem;
  color: #0984e3;
  font-weight: 900;
}

.home .slide .content h3 {
  padding-top: .5rem;
  color: #333;
  font-size: 5rem;
}
.home .swiper-button-next,.swiper-button-prev{
  color: #222;
  font-weight: 900;
  font-size: 3rem;
  position: absolute;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: .5rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  background: #0984e3;
}

.btn:hover {
  background: #333;
}

.banner .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(31rem,1fr));
  gap:2rem;
  padding:0 1rem;
}
/* .banner .box-container .box {
  position: relative;
  height: 25rem;
  border: 0.2rem solid #333;
  border-radius: .5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
} */

.banner .box-container .box {
  position: relative;
  border: 2px solid black;
  height:25rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

/* .banner .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
     border:2px solid;
} */
.banner .box-container .box img{
  height:100%;
  width:100%;
  object-fit: cover;
}
/* .banner .box-container .box .content {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
} */
/* .banner .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
} */
.banner .box-container .box:hover img {
 transform: scale(1.1);
}
.banner .box-container .box .content {
  position: absolute;
  top:50%;
  left:5%;
  transform: translateY(-50%) rotate(45deg) ;
z-index: 2;
  
}
.banner .box-container .box .content span {
  font-size: 1.8rem;
  color: #0984e3;
}
.banner .box-container .box .content h3 {
  font-size: 2rem;
  padding: .5rem 0;
  color: #333;
}
.shoping-items{
  padding:2rem 0;
}

/* .shoping-items .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 2rem;
} */

.shoping-items .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
/* .shoping-items .box-container .box {
  border-radius: .5rem;
  border: 0.2rem solid #333;
  padding: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  background: #fff;
} */
.heading {
  text-align: center;
  margin-bottom: 2rem 0;
  font-size: 3.5rem;
  color: #333;
}

.heading span {
  color: #0984e3;
}

.shoping-items .box-container .box{
  position: relative;
  width:29rem;
  border:2px solid black;
  border-radius: 1rem;
  overflow: hidden;
}
.product_imp_icons{
color:black;
  /* font-size: 3rem; */
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  align-items: center;
}
.product_imp_icons .imp_links{
  width:4rem;
  height:4rem;
  background-color: #333;
  margin:10px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transform: translateX(-150%);
}
.shoping-items .box-container .box:hover .imp_links{
  transform: translateX(0%);
}
.product_imp_icons .imp_links i:hover{
  color: red;
}
.product_imp_icons .imp_links i{
  text-align: center;
  color: white;
}
.shoping-items .box-container .box .image{
  width:23rem;
  margin: auto;
  padding:1rem;
}
.shoping-items .box-container .box .image img{
  width:100%;
  height:100%;
}
.shoping-items .box-container .box:hover .image .main-img {
  display: none;
}
.shoping-items .box-container .box:hover .image .hover-img {
  display: inline-block;
}

.shoping-items .box-container .box .image img {
  height: 100%;
  /* -webkit-animation: fadeIn .2s linear; */
  /* animation: fadeIn .2s linear; */
}

.shoping-items .box-container .box .image .hover-img {
  display: none;
}


.shoping-items .box-container .box .content{
  text-align: center;
}
.shoping-items .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}
.shoping-items .box-container .box .content p {
  font-size: 1.6rem;
}
.shoping-items .box-container .box .content .price {
  padding-top: .5erm;
  font-size: 2rem;
  color: #0984e3;
  padding-bottom: .7rem;
}
.shoping-items .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}
.shoping-items .box-container .box .content .desc {
  font-size: 1.5rem;
}

.shoping-items .box-container .box .content .stars i {
  font-size: 1.5rem;
  color: gold;
}
.box_btn{
  display: flex;
  justify-content: space-between;
  margin:1rem;
}
.box_btn button{
  padding:1rem;
  border:2px solid black;
  background-color: #0984e3;
}

/* brands logo */
.brands{
  display: flex;
justify-content: space-evenly;
/* background-color: #e8173d; */
padding:10px 20px;
border:2px solid black;
margin:20px 20px;
border-radius: 25px;
}
.brands .brand-img{
  height:100px;
  width:auto;
}
.brands .brand-img img{
  width:100%;
  height:100%;
}
/* promises section */
.promises{
display: flex;
justify-content: space-evenly;
width:100%;
padding: 20px;
/* background-color: black; */
/* color:white */
width:100%;
} 
.promises-items{
  display: flex;
  flex-direction: column;
  width:25%;
  border-right: 2px solid black;
}
#border-none{
  border-right:none;
}
.promises-items i{
  font-size: 4rem;
  text-align: center;
}
.promises-items h1{
font-size: 1.5rem;
text-align: center;
}
.promises-items p{
font-size: 1.5rem;
text-align: center;
}
.promises-item-img{ 
width:200px;
height: 70px;
border:2px solid red;
margin: auto;
}
 .quick-links{
  display: flex;
  justify-content:space-between;
  background-color: #333;
  gap:2rem;
  color:white;
  padding:1rem 1rem;
  align-items: center;
 }
 .quick-links .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.quick-links .logo i {
  color: gold;
}

.quick-links .links a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #fff;
}

.quick-links .links a:hover {
  color: gold;
}

.quick-links .share a {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
}

.quick-links .share a:hover {
  color: gold;
}

.copyright p{
  background-color: black;
  color:white;
  font-size: 1.5rem;
  text-align: center;
  padding:1rem 0;
}
.copyright p span{
  color:#0984e3;
}
@media (min-width:1300px){
  .header,.banner,.quick-links{
    /* padding:1rem 10%; */
  }
  .home-slider{
    padding:0 10%;
  }
}
@media (max-width: 1024px) {
  .nav_right_side_element {
    font-size: 1.4rem;
  }
}
@media (max-width: 800px) {
  .header {
    position: relative;
  }
  .header .nav_list {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    padding-top: 5rem;
    display: none;
    flex-direction: column;
    background-color: #e8173d;
    height: 90vh;
    text-align: center;
    font-size: 2rem;
    width: 100%;
  }
  .home .slide .content span {
    font-size: 2.5rem;
  }
  .home .slide .content h3 {
    font-size: 3  rem;
  }
  .mobile_responsive_element {
    font-size: 3rem;
    color: white;
    display: inline-block;
    position: absolute;
    right: 0;
  }
  .mobile_responsive_element span {
    margin-right: 10px;
  }
  .nav_list {
    position: absolute;
    display: inline-block;
  }
  #close_btn {
    display: none;
  }
  .header .search-form {
    position: absolute;
    left: 0;
    margin-top: 11rem;
    width: 100%;
    padding: 0.5rem;
    display: none;
  }
  .home .home-container-element .image{
    height: 30rem;
    width: 100%;
  }
  .home .home-container-element .content{
    font-size: 2rem;
  
  }
  .shoping-items .box-container .box{
    width:22rem;
  }
.shoping-items .box-container .box .image{
  width:20rem;
}
.quick-links {
          flex-flow: column;
  text-align: center;
}
.quick-links .links {
  padding: 1rem 0;
}
.quick-links .links a {
  display: block;
  font-size: 2rem;
  padding: 1rem 0;
}
.quick-links .share a {
  margin: 0 1rem;
}
.copyright p{
  font-size: 1.5rem;
}
}
@media (max-width: 450px) {
  .home .home-container-element{
    flex-direction: column;
  }
  .shoping-items .box-container .box{
    width:100%;
    margin:0 10%;
  }
}
